extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(3000)

  .product-detail
    .container.my-5
      button(
        class="btn btn-secondary"
        button-go-back
        style="margin-bottom: 20px"
        ) Trở lại
      .row
        .col-6
          .inner-thumb
            button.main-arrow.left-main-arrow &lt;
            img(src=product.thumbnail, alt=product.title, id="main-image")
            button.main-arrow.right-main-arrow &gt;
          .thumb-images-wrapper
            button.thumb-arrow.left-arrow &lt;
            .thumb-images
              each image, index in product.images
                img(src=image, alt=product.title, class="product-image", data-index=index)
            button.thumb-arrow.right-arrow &gt;
        .col-6
          h1(class="inner-title") #{product.title}

          if (product.category)
            div(class="inner-category")
              span Danh mục: 
              a(href=`/products/${product.category.slug}`) #{product.category.title}

          if (product.priceNew)
            div(class="inner-price-new") #{product.priceNew}$

          if (product.price)
            div(class="inner-price-old") #{product.price}$

          if (product.discountPercentage)
            div(class="inner-percent") Giảm tới <span>#{product.discountPercentage}%</span>

          if (product.stock)
            div(class="inner-stock") Còn lại <span>#{product.stock}</span> sản phẩm

          form(
            action=`/cart/add/${product.id}`
            method="POST"
          )
            input(
              class="form-control mb-2"
              type="number"
              name="quantity"
              value="1"
              min="1"
              max=product.stock
            )
            button(
              type="submit"
              class="btn btn-success btn-block"
            ) Thêm vào giỏ hàng

    hr

    .container.my-5
      .row
        .col-12
          +box-head("Mô tả sản phẩm")
          .inner-desc !{product.description}

    script.
      document.addEventListener('DOMContentLoaded', () => {
        const mainImage = document.getElementById('main-image');
        const thumbImages = document.querySelectorAll('.thumb-images .product-image');
        const thumbImagesWrapper = document.querySelector('.thumb-images');
        const leftArrow = document.querySelector('.left-arrow');
        const rightArrow = document.querySelector('.right-arrow');
        const leftMainArrow = document.querySelector('.left-main-arrow');
        const rightMainArrow = document.querySelector('.right-main-arrow');

        let currentIndex = 0;

        const updateMainImage = (index) => {
          if (index >= 0 && index < thumbImages.length) {
            mainImage.src = thumbImages[index].src;
            thumbImages.forEach(thumb => thumb.classList.remove('selected'));
            thumbImages[index].classList.add('selected');
            currentIndex = index;
          }
        };

        thumbImages.forEach((thumb, index) => {
          thumb.addEventListener('click', () => {
            updateMainImage(index);
          });
        });

        leftArrow.addEventListener('click', () => {
          thumbImagesWrapper.scrollBy({
            left: -100,
            behavior: 'smooth'
          });
        });

        rightArrow.addEventListener('click', () => {
          thumbImagesWrapper.scrollBy({
            left: 100,
            behavior: 'smooth'
          });
        });

        leftMainArrow.addEventListener('click', () => {
          updateMainImage(currentIndex - 1);
          thumbImagesWrapper.scrollBy({
            left: -100,
            behavior: 'smooth'
          });
        });

        rightMainArrow.addEventListener('click', () => {
          updateMainImage(currentIndex + 1);
          thumbImagesWrapper.scrollBy({
            left: 100,
            behavior: 'smooth'
          });
        });
      });