extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)
  
  h1(class="mb-4") Quản lý đơn hàng

  .card.mb-3
    .card-header Danh sách
    .card-body
      if(orders.length > 0)
        table(class="table table-hover table-sm")
          thead
            tr
              th STT
              th Mã đơn hàng
              th Ngày đặt
              th Tổng tiền
              th Người đặt
              th Hành động
          tbody
            each order, index in orders
              tr
                td #{index + 1}
                td #{order._id}
                td #{new Date(order.createdAt).toLocaleDateString('vi-VN')}
                td #{order.totalPrice.toLocaleString('vi-VN')} $
                td #{order.userInfo.fullName}
                td
                  a(
                    class="btn btn-secondary btn-sm"
                    href=`${prefixAdmin}/orders/detail/${order._id}`
                  ) Chi tiết
                  button(
                    class="btn btn-danger btn-sm ml-1"
                  ) Xóa
      else
        p Không có đơn hàng nào.