header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/admin/dashboard") LAM MOBILE'S ADMIN

            .col-9
                div(class="d-flex justify-content-end align-items-center")
                    a(
                        href=`${prefixAdmin}/my-account`
                        class="d-inline-flex align-items-center"
                        style="text-decoration: none; padding: 0 5px; margin-right: 10px;"
                    )
                        img(
                            src=`${user.avatar}`
                            alt="User Avatar"
                            class="avatar"
                            style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;"
                        )
                        span(style="font-size: 14px; color: #fff;") #{user.fullName}

                    a(
                        href=`${prefixAdmin}/auth/logout`
                        class="btn btn-danger btn-sm"
                    ) Đăng xuất