.sider
    .inner-menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`, class=(currentUrl.startsWith(`${prefixAdmin}/dashboard`) ? 'active' : '')) Tổng quan
            if(role.permissions.includes('products-category_view'))
                li 
                    a(href=`${prefixAdmin}/products-category`, class=(currentUrl.startsWith(`${prefixAdmin}/products-category`) ? 'active' : '')) Danh mục sản phẩm 
            if(role.permissions.includes('products_view'))
                li 
                    a(href=`${prefixAdmin}/products`, class=(currentUrl.startsWith(`${prefixAdmin}/products`) && !currentUrl.startsWith(`${prefixAdmin}/products-category`) ? 'active' : '')) Sản phẩm
            if(role.permissions.includes('roles_view'))
                li 
                    a(href=`${prefixAdmin}/roles`, class=(currentUrl.startsWith(`${prefixAdmin}/roles`) && !currentUrl.startsWith(`${prefixAdmin}/roles/permissions`) ? 'active' : '')) Nhóm quyền
            if(role.permissions.includes('roles_permissions'))
                li 
                    a(href=`${prefixAdmin}/roles/permissions`, class=(currentUrl.startsWith(`${prefixAdmin}/roles/permissions`) ? 'active' : '')) Phân quyền
            if(role.permissions.includes('accounts_view'))
                li 
                    a(href=`${prefixAdmin}/accounts`, class=(currentUrl.startsWith(`${prefixAdmin}/accounts`) ? 'active' : '')) Tài khoản Admin
            if(role.permissions.includes('posts_view'))
                li 
                    a(href=`${prefixAdmin}/posts`, class=(currentUrl.startsWith(`${prefixAdmin}/posts`) ? 'active' : '')) Bài viết
            li  
                a(href=`${prefixAdmin}/user/orders`, class=(currentUrl.startsWith(`${prefixAdmin}/user/orders`) ? 'active' : '')) Đơn hàng
            li 
                a(href=`${prefixAdmin}/settings/general`, class=(currentUrl.startsWith(`${prefixAdmin}/settings`) ? 'active' : '')) Cài đặt chung